header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121416;
  color: aliceblue;
}
header input {
  height: 1.5rem;
  width: 19rem;
  margin-right: 1rem;
}
header h1 {
  height: 1.5rem;
  margin-left: 1rem;
}
