.postslist{
    display: flex;
    flex-direction: column;
}

.postslist {
    width: 70%;
    height: 80%;
}

.post {
    margin-top: 1.3rem ;
    width: 80%;
    height: 40%;
    border: solid 1px #fff;
    box-shadow: aliceblue;
}